$mobile-width: 530px; 
$desktop-width: 1024px;  
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
  }  
@mixin desktop {   @media (min-width: #{$desktop-width}) {     
    @content;  
   } 
  }
html{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace;
    ul,li{
        list-style: none;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    body{
        header{ 
            nav{
                background-color: #FFD400;
                .navbar-brand{
                    img{
                        width: 200px;
                    }
                }
                .nav-item{
                    font-size: 1rem;
                    font-weight: 500    ;
                    .nav-link{
                        padding: 10px 20px !important;
                        color: #000 !important;
                    }
                }
                .dropdown-item  {
                    font-size: 1rem;
                    font-weight: 400;
                }
                .dropdown-item:hover{
                    font-weight: 500;
                }
                .cart{
                    width: 200px;
                    text-align: right;
                    .nav-link{
                        font-size: 2rem;
                        color: #000;
                    }

                }

            }
        }
        .myCarousel{
            background-color: #FFD400;
            .myCarouselItem{
                height: 80vh;
                width: auto;
                background-image: url('../images/banner.webp');
                background-position: center;
                background-size: cover;
            } 

        }
        .info{
            background: #ffd400;
            border-radius: 0 0 50px 50px;
            .container{
                
                .categoriesItem1{
                    width: 100%;
                    height: 20vh;
                    border-radius: 20px;
                    cursor: pointer;
                    background-image: url('../images/bannerIphone.jpg');
                    background-position: center;
                    background-size: cover;
                }
                .categoriesItem2{
                    width: 100%;
                    height: 20vh;
                    border-radius: 20px;
                    cursor: pointer;
                    background-image: url('../images/bannerSamsung.jpg');
                    background-position: center;
                    background-size: cover;
                }
                .catrgoriesItem{
                    transition: all 0.5s;

                }
                .catrgoriesItem:hover{
                    background-color: NONE;
                }
            }
        }
        .productList{
            .container{
                background-image: url("https://cdn.tgdd.vn/2023/12/campaign/Tet-FS-1200x120.gif");
                background-position: top;
                background-repeat:no-repeat;
                border-radius:30px;
                background-color: #c60017;
                .row{
                    padding-top: 130px;
                    .productItem{
                        .productContainer{
                            background-color: #fff;
                            border-radius: 10px;
                            margin: 10px 0;
                            padding:20px;
                            .productImage{
                                padding: 0 20px;
                                width: 80%;
                                height: auto;
                                margin-left: 10%;
                                margin-top: 30px; 
                                margin-bottom: 30px;   
                            }
                            .productName{
                                text-align: center;
                                margin: 0;
                            }
                            .productPrice{
                                text-align: center;
                                color: red;
                                font-size: 1.2rem;
                                font-weight: 500;
                                line-height: 0.8rem;
                            }
                            .productDecs{
                                font-size: 0.9rem;
                                font-weight: 300;
                                margin-bottom: 0px;
                            }
                            .btn-primary{
                                justify-content: center;
                            }
                            #viewDetail{
                                width: 40%;
                            }
                            #addToCart{
                                width: 57%;
                                background-color: #fb6e2e;
                                border-color: #fb6e2e;
                            }
                            #addToCart:hover{
                                background-color: #c45522;
                                border-color: #c45522;
                            }
                            .cameraDetail{
                                font-size: 14px;
                                span{
                                    background-color: #eaeaea;
                                    padding:3px;
                                    border-radius: 3px;
                                }  
                            }
                        }
                    }
                }
            }
        }
    }
}